{% extends "base.html" %}
{% block content %}
	<div class="row">
	{% for film, genre in films %}
		<div class="thumbnail" style="width: 80%; margin: auto;">
		<div class="caption">
			<h3>{{ film.caption }}</h3>
			<p>Год: {{ film.year }}</p>
			<p>Режиссер: {{ film.director }}</p>
			<p>Страна производитель: {{ film.country }}</p>
			<p>Продолжительность: {{ film.length }}</p>
			<p>Жанр: {{ genre.caption }}</p>
			{% if g.user.groups_fk == 1%}
			<form method='POST'>
				<input type="hidden" name="film_id" value={{ film.id }}>
				<button type="submit" class="btn btn-success">Изменить</button>
			</form>
			{% endif %}
		</div>
		</div>
		</br>
	{% endfor %}
	</div>
{% endblock %}
